extends layout

block content
  each item in data
    li(style="border:1px solid #000; margin: 20px; padding: 10px;")
        form(method="POST" enctype action="/add")
              input(type="hidden" name="parent" value=item._id)
              input(type="hidden" name="children_count" value=item.children.length)
              input(type="text" name="name")
              input(type="submit" value="Add Successor")
        form(method="post" action="/delete")
              b= item._id
              input(type="hidden" name="doc_id" value=item._id)
              input(type="submit" value="Remove")
        br 
        p= item.children.length
        a(href="/edit/"+item._id )= 'Add to'+item._id+'('+item.name+')'

  h1= 'Add Article'
  form(method="POST" enctype action="/add")
    h3= 'Name'
    input(type="text" name="name")

    h3= 'Parent'
    input(type="text" name="parent")
    
    br

    input(type="submit")
